<div align="center" style="position: fixed; z-index: 1; padding-top: 100px; left: 0;top: 0; width: 100%; height: 100%; overflow: auto;">
	<img style="border-radius: 10px; border: 2px solid #a1a4a8; height: 100; width: 100;" src=<%= asset_path  "output/output.png" %>>
</div>