<div style="position: fixed; z-index: 1; padding-top: 150px; left: 0;top: 0; width: 100%; height: 100%; overflow: auto; padding-left: 80px;">
	<div align="center" style="border: 2px solid #ffecca; border-radius: 8px; background-color: rgba(231, 122, 53, 0.14); padding: 30px 30px; width: 550px;">
		<img style="border-radius: 10px; border: 2px solid #a1a4a8;" src=<%= asset_path  "output/output.png" %>>
		<p style="color: white;"><%= @description %></p>
	</div>
</div>